.places__link {
  color: #FFF;
  text-decoration: underline;
  margin-top: 12px;
  font-weight: 400;
  font-size:  18px;
  line-height: 22px;
}

.places__link:hover {
  opacity: 0.8;
}

.places__link:visited {
  color: #FFF;
}

.places__link:active {
  color: #FFF;
}