.cover__background {
  background-color: rgba(42, 44, 47, 0.3);
  z-index: 3;
  min-height: 100%;
  min-width: 100%;
  transition: 0.3s;
  margin: 0 auto;
}

.cover__background:hover {
  background-color: rgba(42, 44, 47, 0.8);
}