.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}

@media screen and (max-width: 767px) {
  .places__website {
    grid-row: 2/3;
    padding: 0 16px;
  }
}